<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Yusuf Sönmez</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Uygulama, Admin tarafından haberlerin eklendiği bir Haber Modülüdür.</p>
            <p>Proje iki farklı uygulamadan çalışacak şekilde tasarlanmıştır.</p>
            <p>Admin, <b>AdminNewsModule</b> uygulamasından haberleri girer ve kullanıcılar <b>NewsModule</b>
                uygulamasından haberleri okuyup takip edebilirler.</p>
        </div>
    </div>
</div>

<hr>